@import '../../../shared/scss/vars';

.button {
    @include largeButton;
    background-color: $googleBlack;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: $googleBlackHover;
    }
}