@import "../../../../../shared/scss/vars";

.section {
  width: 100%;
  border-radius: 0 0 10px 10px;
  position: relative;
  border: 1px solid $borderColor;
  border-top: none;
  padding: 24px;
  background-color: $whiteBg;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.noInfoText {
  text-align: center;
  font-weight: 600;
  color: $gray;
}

.edit {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: $hoverGray;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.addSection {
  @include smallButton;
  background-color: $orange;
  width: fit-content;
  margin: 0 auto;
}

.text {
  width: 95%;
}