$orange: #ed6b15;
$hoverOrange: #c9570b;
$gray: #9DA6AA;
$googleBlack: #383838;
$googleBlackHover: #272626;
$opacityGray: rgb(0 0 0 / .35);
$opacityBlackText: rgba(0, 0, 0, 0.75);
$errorText: #ff0606;

$easyTransition: border 0.3s ease, background-color 0.3s ease;

@mixin largeButton {
    width: 100%;
    height: 45px;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin container {
    width: 1128px;
    margin: 0 auto;
    display: flex;
}

@mixin heightContainer {
    height: calc(100vh - 50px);
    min-height: 788px;
}