@import "../../shared/scss/vars";

.skill {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  padding: 10px;
  width: 95%;
  border: 1px solid $lightOrange;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .main {
      display: flex;
      gap: 8px;
    }
  }

  &__styles {
    display: flex;
    gap: 8px;

    &_style {
      padding: 2px 4px;
      border-radius: 8px;
      background-color: $lightOrange;
      font-size: 14px;
    }
  }

  &__age {
    padding: 2px 4px;
    border-radius: 8px;
    background-color: $lightGray;
    font-size: 14px;
    width: fit-content;
  }

  &__name {
    font-weight: bold;
  }

  &__description {
    white-space: pre-wrap;
  }
}