@import '../../../shared/scss/vars';

.form, .description {
    width: 50%;
    background-color: white;
}

.description {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.returnToSignIn {
    padding: 16px 0;
    display: flex;
    gap: 6px;

    &_link {
        color: $orange;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
