@import "../../../../../shared/scss/vars";

.section {
  @include skillSection;
}

.noInfoText {
  text-align: center;
  font-weight: 600;
  color: $gray;
}

.addSection {
  @include smallButton;
  background-color: $orange;
  width: fit-content;
  margin: 0 auto;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 8px;
}