@import "../../../../shared/scss/vars";

.section {
  width: 100%;
  border-radius: 10px;
  position: relative;
  border: 1px solid $borderColor;
}

.background {
  width: 100%;
  height: 160px;
  border-radius: 10px 10px 0 0;
}

.ava {
  position: absolute;
  left: 20px;
  top: 45px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 4px solid white;
}

.wrapper {
  padding: 50px 24px 24px;
  background-color: $whiteBg;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.edit {
  position: absolute;
  right: 20px;
  top: 180px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: $hoverGray;
  }
}

.skillsWrapper {
  display: flex;
  gap: 4px;
  width: 50%;

  .skill {
    padding: 4px 8px;
    background-color: $lightOrange;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}

.greyText, .blackText {
  font-size: 16px;
  color: $gray;
}

.blackText {
  color: black;
}

.likeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: $hoverGray;
  height: 40px;
  width: fit-content;
  border-radius: 15px;
  padding: 0 8px;

  svg {
    path {
      fill: $lightOrange;
    }

    &:hover {
      cursor: pointer;

      path {
        fill: $orange;
      }
    }
  }

  .number {
    color: $orange;
  }
}

.button {
  @include smallButton;
  background-color: $orange;
  gap: 8px;
  width: 20%;
}