@import "../../../../shared/scss/vars";

.section {
  width: 100%;
  border-radius: 10px;
  position: relative;
  border: 1px solid $borderColor;
}

.background {
  width: 100%;
  height: 160px;
  border-radius: 10px 10px 0 0;
}

.avaBlock {
  position: absolute;
  left: 20px;
  top: 45px;
  width: 160px;
  height: 160px;

  .ava {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 4px solid white;
  }

  .avaEdit {
    position: absolute;
    top: 135px;
    left: 65px;
    width: 35px;
    height: 35px;
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
  }
}

.wrapper {
  padding: 50px 24px 24px;
  background-color: $whiteBg;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.edit {
  position: absolute;
  right: 20px;
  top: 175px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: $hoverGray;
  }
}

.arrayWrapper {
  display: flex;
  gap: 4px;
  width: 100%;
}

.styleBlock {
  padding: 12px;
  border: 1px solid $borderColor;
  border-radius: 10px;
  width: fit-content;

  .top {
    display: flex;
    gap: 8px;
  }

  .stylesTitle {
    font-weight: 600;
    font-size: 16px;
  }

  .stylesWrapper {
    display: flex;
    gap: 4px;
    padding-left: 24px;
  }
}



.itemSkill, .itemStyle {
  padding: 4px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.itemSkill {
  background-color: $lightOrange;
}

.itemStyle {
  background-color: $gray;
}

.statuses {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .statusBand {
    padding: 4px 8px;
    background-color: $green;
    width: fit-content;
    border-radius: 10px;
    font-size: 14px;
  }

  .statusSearch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;

    &__text {
      font-weight: 600;
      font-size: 14px;
      text-decoration: underline;
    }

    .skillName {
      padding: 4px 8px;
      background-color: $green;
      width: fit-content;
      border-radius: 10px;
      font-size: 14px;
    }
  }
}

.greyText, .blackText {
  font-size: 16px;
  color: $gray;
}

.blackText {
  color: black;
}

.likeWrapper, .hoverLikeWrapper, .activeLike {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: $hoverGray;
  width: fit-content;
  border-radius: 15px;
  padding: 6px 10px;

  svg {
    path {
      fill: $lightOrange;
    }
  }

  .line {
    width: 1px;
    height: 20px;
    background-color: $orange;
  }

  .number {
    color: $orange;
    font-size: 20px;
  }
}

.hoverLikeWrapper {
  svg {
    &:hover {
      cursor: pointer;

      path {
        fill: $orange;
      }
    }
  }
}

.activeLike {
  svg {
    path {
      fill: $orange;
    }
  }
}

.links {
  display: flex;
  position: relative;
  gap: 4px;

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    &:hover {
      z-index: 100;
    }
  }
}

.joinBlock {
  padding: 10px;
  border: 1px solid $orange;
  border-radius: 10px;
  width: 45%;

  &__link {
    font-weight: 600;
    color: $orange;
    cursor: pointer;
    text-decoration: underline;
  }
}

.button {
  @include smallButton;
  background-color: $orange;
  gap: 8px;
  width: 20%;
}